h1 = @box.title
p.lead Privacy Status: #{@box.privacy_level}
h2 Snippets
- if user_signed_in? and @box.user == current_user
  = link_to "New Snippet", new_box_snippet_path(@box), class: 'btn btn-primary'
= render 'boxes/snippet_table'
= link_to 'Edit', edit_box_path(@box)
= " | "
= link_to 'Back', boxes_path
