<script>
  $(document).ready(function() {
    if ($('#snippet_expires').is(':checked')) {
        // the checkbox was checked 
        
    } else {
        $('div.snippet_expiration').hide();
    }
    
    $('#snippet_expires').on('click', function() {
      if ($('#snippet_expires').is(':checked')) {
        // the checkbox was checked 
          $('div.snippet_expiration').show();
      } else {
          $('div.snippet_expiration').hide();
      }
    })
    autosize($('#snippet_code'));
  });
</script>
<!--
<script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.2.5/ace.js" type="text/javascript" charset="utf-8"></script>
<script>
    var editor = ace.edit("snippet_code");
    editor.setTheme("ace/theme/monokai");
    editor.getSession().setMode("ace/mode/php");
</script>
-->